*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    height: 100vh;
}

.heading{
    margin-left: 30%;
    margin-top: 2%;
    position: absolute;
    color: navy;
}

.background{
    height: 70vh;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.eyes,.ears,.hair,.nose,.leg,.neck,.acce,.mouth{
    position: absolute;
}


.action-btn{
    margin: 3% 10%;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid navy;
    color: navy;
    cursor: pointer;
    font-size: 1rem;
}

.modifications{
    margin-left: 2%;
}


.btn{
    text-transform: capitalize;
    font-size: larger;
    padding: 1rem;
    background-color: #fff;
    color: navy;
    border: 1px solid navy;
    margin: 1% 1%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover{
    background-color: navy;
    color: #fff;
    border: 1px solid #fff;
}

